############################################################################################################################
##                                            调度系统配置（动态加载）                                                        ##
############################################################################################################################
rcs_sys:
  #是否开发环境
  #类型：boolean
  #默认值：false
  develop: true
  #是否启用Arthas应用程序监控
  #类型：boolean
  #默认值：true
  enable_arthas: true
  #通讯等待回复超时时间
  #单位：秒
  #类型：int
  #默认值：3
  conn_await_timeout: 3

############################################################################################################################
##                                            调度定时器配置（动态加载）                                                       ##
############################################################################################################################
#支持动态加载，修改后无需重启，只需要调用刷新配置方法即可
rcs_timer:
  #定时器键名
  testDynamicTimer:
    #是否开启
    # false 不启用 true 启用
    #类型：boolean
    #默认值：true
    enabled: false
    #是否开启异步
    # false 同步执行 true 异步执行
    #类型：boolean
    #默认值：true
    async: true
    #初始延迟时间
    #类型：int
    #默认值：0
    delay: 10
    #上次执行终止和下次执行开始的间隔
    #类型：int
    #默认值：1
    period: 3
    #时间单位
    # NANOSECONDS 纳秒
    # MICROSECONDS 微秒
    # MILLISECONDS 毫秒
    # SECONDS 秒
    # MINUTES 分钟
    # HOURS 小时
    # DAYS 天
    #类型：String
    #默认值：SECONDS
    unit: SECONDS

############################################################################################################################
##                                            程序端口配置（动态加载）                                                        ##
############################################################################################################################
#调度端口，调度系统启动后占用的端口，合理的端口范围：1024-65535
#调度需要指定自己的端口号，以确保不会与其他程序冲突，也为了程序的安全性和隐私考虑
rcs_port:
  # WEB容器端口
  #类型：int
  #默认值：9090
  web_port: 9090
  # Netty WebSocket端口
  #类型：int
  #默认值：9091
  netty_websocket_port: 9091
  # Netty Mqtt端口
  #类型：int
  #默认值：9092
  netty_mqtt_port: 9092

############################################################################################################################
##                                               算法专用线程池配置（动态加载）                                                ##
############################################################################################################################
#线程池配置，该版本线程池不再使用，改成使用虚拟线程，保留该配置及功能
rcs_thread_pool:
  #初始线程数量，程序启动后线程池中将启动多少个线程
  #建议值：CPU核心数 + 1 (例如 8核机器填 9)
  #警告：不要设置得过大！A*算法是CPU密集型，线程太多会导致频繁上下文切换，反而变慢！
  #类型：int
  #默认值：9
  core_pool_size: 9
  #最大线程数量，线程初始数量被使用完后，会根据需要自动创建新线程（不超过最大数量），建议与初始线程数量保持一致
  #类型：int
  #默认值：9
  max_pool_size: 9
  #有界等待队列最大等待数，当线程数达到最大线程数量，新任务将进入等待队列，如果等待队列已满，会触发拒绝策略由调用者自己执行
  #类型：int
  #默认值：2048
  queue_capacity: 2048
  # 线程存活时间 (秒)
  keep_alive_seconds: 60

############################################################################################################################
##                                            算法相关配置（动态加载）                                                        ##
############################################################################################################################
algorithm_common:
  #使用模式规划路径 0系统自带 1图论Graph4J库
  #默认使用系统实现的A星算法进行规划
  #类型：int
  #默认值：0
  path_algorithm: 1
  #重新规划路径长度不能超过原始规划路径剩余长度的多少毫米
  #换算：1000毫米 = 1米
  #示例：配置5000毫米，如果原始到终点路径剩余长度为10米，那么重新规划路径长度不能超过15米，超过则不考虑绕路
  #类型：int
  #单位：毫米
  #默认值：5000
  path_length_distance: 5000
  #规划路径遇到被占用的点位后退多少个点
  #示例：配置=1，如果点位5是占用的点位，那么规划路径只能规划1、2、3、4
  #类型：int
  #默认值：1
  retreat_point: 1
  #AGV根据坐标确认当前点位的容差
  #示例：配置2000毫米，如果AGV1的坐标距离点位2的范围小于2000毫米，那么系统认为AGV1在点位2
  #换算：1000毫米 = 1米
  #类型：int
  #单位：毫米
  #默认值：2000
  agv_xy_tolerance: 300
  #经过多少个十字路口后停止规划，包含第 stop_intersection 个十字路口的点位
  #注意风险：因为程序提供了较高的自由性，请设置数值不小于1，否则可能出现路径规划失败
  #类型：int
  #最小条件：1
  #默认值：1
  stop_intersection: 2
  #AGV是否在路径上的容差
  #AGV行驶时距离直线路线的采样步长是否在指定范围内
  #示例：配置=500毫米，如果AGV行驶时距离直线的采样步长在500mm之间，那么系统认为AGV行驶在路线上
  #换算：1000毫米 = 1米
  #类型：int
  #单位：毫米
  #默认值：500
  agv_path_tolerance: 500
  #当前路径小于等于多少个点位时，进入二次规划路径状态
  #示例：配置=2，如果当前路径剩余2个点位（包括当前点），那么系统把任务状态改成二次规划路径状态
  #解释：AGV剩余未行驶路径：[1,2,3,4,5]剩余5个点位则不进入二次规划路径状态，[1,2]剩余两个点位则进入二次规划路径状态
  #类型：int
  #默认值：2
  remaining_point_plan_path: 3
  #规划点位最大数量，取消进入二次规划路径状态
  #示例：配置=2，如果当前有效运行路径大于2个点位（包括当前点），那么系统不会让任务状态改成二次规划路径状态
  #解释：AGV剩余未行驶路径：[1,2,3,4,5]大于2个点位则不进入二次规划路径状态，[1]剩余两个点位则进入二次规划路径状态
  #类型：int
  #默认值：2
  plan_point_max_size: 5
  #新规划路径点数（不包括起点）超过大于等于个点位时，可以下发给AGV
  #示例：配置=2，如果新规划路径点数超过2个点位，那么将路径下发给AGV
  #解释：规划出路径：[1]只有一个点位则不下发，[1,2]规划出两个点位则下发
  #类型：int
  #默认值：1
  plan_allow_delivery_threshold: 1
  #开启交管检测，关闭后可节省计算资源
  #类型：int
  #默认值：1
  traffic_detect_enable: 1
  #交管检测范围，AGV与死锁的点位数
  #类型：int
  #默认值：1
  traffic_detect_range: 1
  #交管避让点查找层级
  #类型：int
  #默认值：3
  traffic_dvoidance_tiers: 3
  #移动时间窗口启用
  #0关闭 1开启
  #类型：int
  #默认值：1
  move_time_window_enable: 1
  #移动时间窗口点位最大占用数
  #从同楼层所有的AGV的期望路径里绘制出移动时间窗口数据，然后点位的成本加上移动时间窗口点位的权重数据，然后让路径规划算法规划更适合的路径
  #从而达到点位占用平衡，尽量避免AGV等待时间过长
  #类型：int
  #默认值：2
  move_time_window_max_occupancy: 5